---
import Base from '../../layouts/Base.astro';
import BlogPreview from '../../components/BlogPreview.astro'
export function getStaticPaths({ paginate }) {
  const posts = Astro.fetchContent('../../../posts/*.md');
  const dateSort = (a, b) => new Date(b.published).valueOf() - new Date(a.published).valueOf();
  const allPosts = posts.sort(dateSort);

  return paginate(allPosts, { pageSize: 2})
}

const { page } = Astro.props;
---

<Base title="Articles">
  <div class="mx-auto">
    <h1
      class="text-4xl sm:text-5xl font-black tracking-wide text-center w-full mb-8 p-4"
    >
      Blog
    </h1>
    {page.data.map(post => {
      const href = `/post/${post.file.pathname.split('/').pop().split('.').shift()}`;
      return (
        <BlogPreview title={post.title} published={post.published} excerpt={post.excerpt} href={href} />
      )
    })}
    <a
      href={page.url.prev}
      class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
    >
      <span class="sr-only">Previous</span>
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </a>
    <span>You are on page {page.currentPage} of {page.lastPage}</span>
    <a
      href={page.url.next}
      class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
    >
      <span class="sr-only">Next</span>
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </a>
  </div>
</Base>